doctype
html
  head
    meta(charset='utf-8')
    title ECMAScript6 特性
    link(rel="stylesheet" href="/bower_components/foundation/css/foundation.css")
    link(rel="stylesheet" href="/bower_components/foundation/css/normalize.css")
    link(rel="stylesheet" href="/vendor/highlight/styles/default.css")
    link(rel="stylesheet" href="/css/app.css")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/foundation/js/foundation.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/vendor/highlight/highlight.pack.js")
    
  body
    nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          h1
            a(href='/') ECMAScript6 Tutorial
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        ul.right
          li#optimisation
            a(href='/doc/optimisation.html') 优化
          li#syntax
            a(href='/doc/syntax.html') 语法
          li#bindings
            a(href='/doc/bindings.html') 绑定
          li#functions
            a(href='/doc/functions.html') 函数
          li#built-ins
            a(href='/doc/built-ins.html') 内建
          li#built-in-extensions
            a(href='/doc/built-in-extensions.html') 内建扩展
          li#subclassing
            a(href='/doc/subclassing.html') 子类
          li#misc
            a(href='/doc/misc.html') 混杂
          li#annex-b
            a(href='/doc/annex-b.html') 附录
          li
            a(href='http://kangax.github.io/compat-table/es6/#ie11tp', target='_blank') 兼容性
    .wrap  
      != yield
    script
      $(document).foundation();
      hljs.initHighlightingOnLoad();
