.row
  .large-12.columns.text-center
    h4 ECMAScript6 新特性
    br
.row
  .large-3.columns
    table
      tr
        td
          a(href='#c-Optimisation') 优化
        td
          a(href='#c-Syntax') 语法
        td
          a(href='#c-Bindings') 绑定
      tr
        td
          a(href='#c-Functions') 函数
        td
          a(href='#c-Built-ins') 内建
        td
          a(href='#c-Built-in-extensions') 内建扩展
      tr
        td
          a(href='#c-Subclassing') 子类
        td
          a(href='#c-Misc') 混杂
        td
          a(href='#c-Annex-b') 附录
  .large-9.columns
    #container.container
      
script(src="/js/main.js")
script#t-table(type='text/template').
  <h4 id="c-<%= category %>"><%= category %></h4>
  <table id="table-<%= table_index %>">
  <thead>
  <tr>
  <th>序号</th>
  <th>特性</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
script#t-tr(type='text/template').
  <tr>
  <td><%= index %></td>
  <td><%= text %></td>
  </tr>
