.wrap {
  padding: 20px 0;
}

.pos-fixed {
  position: fixed;
}

td.active {
  background-color: #ffebbd;
}

.reference {
  background-color: #f8f8f8;
  padding: 3px 10px;
  margin-top: 20px;
  
  ul {
    // list-style: none;
  }
}

p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.has-border {
  border: solid 1px #d8d8d8;
}
