javascript:
  $(document).ready(function() {
    var animate = false;
    var active_nav =  function(){
      $('.feature h4').each(function(i, el){
        if (animate) return;
        if (Math.abs($(window).scrollTop() - $(el).offset().top) < 60) {
          $('.scroll-nav td').removeClass('active');
          $($('.scroll-nav td')[i]).addClass('active');
        }
      });
    };
    active_nav();
    $('.scroll-nav').width($('.scroll-nav').parent('.large-3').width()-20);
    $('.feature h4').each(function(i, el){
      $(this).attr('data-text', $(el).text().split('、')[1]);
      if(i == 0){
        $('.scroll-nav').append('<tr><td class="active">' + $(el).text().split('、')[1] + '</td></tr>');
      } else {
        $('.scroll-nav').append('<tr><td>' + $(el).text().split('、')[1] + '</td></tr>');
      }
    });
    $('.scroll-nav td').on('click', function(e){
      e.preventDefault();
      if($(this).find('a').length > 0){
        var target = $( $(this).find('a').attr('href') );
      } else {
        var target = $('.feature').find('[data-text="' + $(this).text() + '"]');
      }
      $('.scroll-nav td').removeClass('active');
      $(this).addClass('active');
      animate = true;
      $('html, body').animate({
        scrollTop: target.offset().top - 48
      }, 1000, 
      function(){
        animate = false;
      });
    });
    $(document).scroll(function(){
      active_nav();
    });
  });
