.row
  .large-3.columns.show-for-large-only
    table.pos-fixed.scroll-nav
  .large-9.columns
    .feature
      == partial 'doc/built_ins/_01_typed_arrays'
    .feature
      == partial 'doc/built_ins/_02_map'
    .feature
      == partial 'doc/built_ins/_03_set'
    .feature
      == partial 'doc/built_ins/_04_weak_map'
    .feature
      == partial 'doc/built_ins/_05_weak_set'
    .feature
      == partial 'doc/built_ins/_06_proxy'
    .feature
      == partial 'doc/built_ins/_07_reflect'
    .feature
      == partial 'doc/built_ins/_08_promise'
    .feature
      == partial 'doc/built_ins/_09_symbol'
    .feature
      == partial 'doc/built_ins/_10_well_known_symbols'

javascript:
  $("#built-ins").addClass('active');
  $(document).ready(function() {
    $('.scroll-nav').width($('.scroll-nav').parent('.large-3').width()-20);
    $('.feature h4').each(function(i, el){
      $(this).attr('data-text', $(el).text().split('、')[1]);
      if(i == 0){
        $('.scroll-nav').append('<tr><td class="active">' + $(el).text().split('、')[1] + '</td></tr>');
      } else {
        $('.scroll-nav').append('<tr><td>' + $(el).text().split('、')[1] + '</td></tr>');
      }
    });
    $('.scroll-nav td').on('click', function(e){
      e.preventDefault();
      if($(this).find('a').length > 0){
        var target = $( $(this).find('a').attr('href') );
      } else {
        console.log($(this).text());
        var target = $('.feature').find('[data-text="' + $(this).text() + '"]');
        console.log(target);
      }
      $('.scroll-nav td').removeClass('active');
      $(this).addClass('active');
      $('html, body').animate({
        scrollTop: target.offset().top - 48
      }, 1000);
    });
  });
