.row
  .large-12.columns
    .feature
      != partial("bindings/_01_const")
    .feature
      != partial("bindings/_02_let")
    .feature
      != partial("bindings/_03_function_declaration")

script
  $("#bindings").addClass('active');
